@tailwind base;
@tailwind components;
@tailwind utilities;


.photo-container {
    position: relative;
    width: 600px; /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */


  }
  .photo-swap-item {
    margin-left: 60px; /* Adjust the spacing as needed */
  }
